/* MyButton */
.MyButton {
    font-family: Yeon sung;
    cursor: pointer;
    border: none; 
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;

    /* 버튼안에 있는 글자를 화면이 줄어들더라도 줄바꿈 되지 않도록 한다.  */
    white-space: nowrap;
}

.MyButton_default {
    background-color: #f1d1d2;
    color: rgb(255, 255, 255);
}

.MyButton_positive {
    background-color: #c1a3a3;
    color: white;
}

.MyButton_negative {
    background-color: #7d5959;
    color: white;
}

.MyButton_else {
    background-color: #c1a3a3;
    color: white;
}
