body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: #bdcda2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

/* MyButton */
.MyButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  
    font-size: 18px;
  
    white-space: nowrap;
  }

.MyButton_default {
    background-color: #819163;
    color: black;
}

.MyButton_positive {
    background-color: #97ad6e;
    color: white;
}

.MyButton_negative {
    background-color: #78904d;
    color: white;
}

/* Header */
header {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid#738552;
}

header>div {
    display: flex;
}

header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

header .head_btn_left {
    width: 25%;
    justify-content: start;
}

header .head_btn_right {
    width: 25%;
    justify-content: end;
}

/* MyMenu */

.MyMenu {
    padding-top: 20px;
    display: flex;
}

.MyMenu>button {
    cursor: pointer;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: #738552;
    color: #ececec;

    border: 1px solid #ececec;
    border-radius: 5px;

}