@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    font-family: Yeon sung;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: #faf1f2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

/* MyButton */
.MyButton {
    font-family: Yeon sung;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;

    white-space: nowrap;
}

.MyButton_default {
    background-color: #f1d1d2;
    color: rgb(255, 255, 255);
}

.MyButton_positive {
    background-color: #c1a3a3;
    color: white;
}

.MyButton_negative {
    background-color: #7d5959;
    color: white;
}

/* Header */
header {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid#c1a3a3;
}

header>div {
    display: flex;
}

header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

header .head_btn_left {
    width: 25%;
    justify-content: start;
}

header .head_btn_right {
    width: 25%;
    justify-content: end;
}

/* MyMenu */

.MyMenu {
    padding-top: 20px;
    display: flex;
}

.MyMenu>button {
    font-family: Yeon sung;
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 43px;
    padding-right: 43px;
    width: 29.5vh;

    background-color: #c1a3a3;
    color: #faf1f2;

    border: 1px solid #faf1f2;
    border-radius: 5px;

}

/* New */

.New .new_date {
    background-color: #faf1f2;
    color: #7d5959;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}